:root{
    --warnapertama:#eaeaea;
    --warnakedua:#2da4ff;
    --warnaketiga:#56b6ff;
    --warnakeempat:#56b6ff;
}
.Utama1{
    background-color: var(--warnapertama); color:#ffffff;
}
.Container1{
    display:flex;
    margin: 10px; padding: 3px; gap: 10px;
    justify-content: space-evenly; align-items: center;
}
.Box1{
    background-color: var(--warnakedua); color: #ffffff; border:var(--warnaketiga)solid;
    border-radius: 10px 20px 10px 20px;
    flex: 1; justify-content: center; align-items: center;
    animation: Animation1 850ms ease 1;
}
@keyframes Animation1{
    0%{
        transform: Translate(-500px, -500px);
    }100%{
        transform: Translate(0);
    }
}
@keyframes Animation2{
    0%{
        visibility: hidden;
    }5%{
        transform: translate(-250px, -250px); scale:(2.0);
        opacity:0.5; visibility: visible;
    }100%{
        transform: translate(0); scale:(1); opacity:1;
    }
}
.BoxE1{
    width: 800px; height: 500px;
    background-color: var(--warnaketiga); border: var(--warnakedua) solid 2px; border-radius: 20px 10px 20px 10px;
    padding:10px; margin: 10px; gap: 10px; display:flex;
    justify-content: space-evenly; align-items: center;
}
.AddMargin1{
    margin-top:30px; margin-bottom: 30px;
}
.AddMargin2{
    margin-left: 30px; margin-right: 30px;
}
.AddPadding1{
    padding: 10px 0 10px 0;
}
.AddBorderRadius{
    border-radius: 10px;
}

